@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Engine.cshtml";
}



<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h3>
        Manage Your Grocey List <br />
        <small>Create, Edit, or Delete your grocery list!</small>
    </h3>

    <form class="form-inline">
      <div class="form-group">
        <label for="InputGroceyName">Name</label>
        <input type="text" class="form-control" id="exampleInputName2" placeholder="Grocery List for today">
      </div>
      <button type="submit" class="btn btn-default">Create</button>
    </form>
</div>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <table class="table table-hover table-condensed">
        <thead>
            <th>#</th>
            <th>Name</th>
            <th>Date Created</th>
            <th>&nbsp;</th>
        </thead>
        
    </table>
</div>
